* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  background: #39a6b2;
  display: 60px;
  height: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__item {
  height: 80px;
}
.navbar__links {
  color: #fce138;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.hero {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 60px;
  background-image: url("./images/hero-bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-form {
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  position: absolute;
  bottom: 120px;
  right: 140px;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.nav__sec {
  color: #39a6b2;
  display: flex;
  align-items: left;
  justify-content: left;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: bold;
}

.footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}
.footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
.footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}
.footer a {
  color: #024e76;
}
